body {
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}
* {
  margin: 0px;

  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  color: #2b2b2b;
  
}
span {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #2b2b2b;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
#menu {
  display: flex;
  gap: 20px;
}
.section1 {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #0f2a44;
  background: linear-gradient(
    to right,
    rgba(15, 42, 68, 1),
    rgba(15, 42, 68, 0.85)
  );
  height: 450px;
}
.img1 {
  width: 100%;
  height: 100%;
}
.img3 {
  display: none;
}
.img {
  position: relative;
  overflow: hidden;
  width: 50%;
}
.img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(15, 42, 68, 0.9),
    rgba(15, 42, 68, 0.6),
    rgba(15, 42, 68, 0)
  );
  pointer-events: none;
}
.head {
  color: #ffffff;
  font-size: 50px;
  margin: 25px 5px;
}
.text {
  color: #e5e7eb;
  line-height: 1.5;
}
.main-text {
  padding: 50px;
  line-height: 1.2;
  width: 50%;
  text-align: start;
}
.main-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
}
.btn1 {
  padding: 10px 30px;
  border: 1.5px solid #ffffff;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Source Sans 3', sans-serif;
  margin-top: 30px;
  transition: 0.5s ease;
}
.btn1:hover {
  background-color: #ffffff;
  color: #0f2a44;
  cursor: pointer;
}
.section2 {
  background-color: #faf9f6;
  color: #2b2b2b;
  display: flex;
  gap: 30px;
}
.section2-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img2 {
  width: 550px;
}
.h2main {
  font-size: 60px;
  margin: 25px 25px 10px 10px;
  color: #2b2b2b;
}
.text1 {
  line-height: 1.5;
  margin: 10px;
}
.section3 {
  display: flex;
  flex-direction: column;
}
.section3 h2 {
  text-align: center;
}
.team-hr {
  width: 250px;
  margin: auto;
}
.see-more {
  display: none;
  width: 100px;
  height: 40px;
  
}
.team {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 250px;
  margin-top: 20px;
  padding: 10px 250px;
}
.team-img {
  width: 250px;
  border-radius: 10px;
}
.name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}
.role {
  font-weight: thin;
  margin-bottom: 5px;
  font-size: 14px;
}
.responsibility {
  font-size: 12px;
}
.mission, .wwa, .wwd{
  margin: 40px 100px;
  padding: 20px 50px 45px 50px;
  background-color: #f2f4f6;
}
.mis-head, .wwa-head {
  color: #0f2a44;
  margin: 20px;
}
ul {
  color: #2b2b2b;
  line-height: 1.7;
  margin-top: 10px;
}
.mission div {
  display: flex;
  justify-content: flex-end;
}
.section-title {
  margin: 5px 100px;
  font-size: 30px;
}
.menu-btn {
  background-color: #ffffff;
  border: none;
}
.events-grid {
  display: flex;
  gap: 30px;
  margin: 40px 100px;
  flex: wrap;
}
.menu-btn {
  display: none;
}
.event-hr {
  width: 150px;
  margin-left: 70px;
}
.event-card, .event-card2 {
  background: white;
  border-radius: 15px;
  width: 350px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.event-card:hover {
   transform: translateY(-10px);
}
.event-card2:hover {
  transform: translateY(-10px);
}

.outreach {
  width: 350px;
  height: 300px;
}

.event-info {
  padding: 1.5rem;
}

.event-info h3 {
  color: #004e89;
  margin-bottom: 0.5rem;
}

.event-info .date {
  color: #ff6b35;
  font-weight: bold;
  margin-bottom: 1rem;
}
.event-info p {
  font-size: 12px;
}
.ask-convener {
  margin: 40px 100px;
  padding: 20px 50px 45px 50px;
  background-color: #f2f4f6;
}
.ask-convener h2 {
  color: #0f2a44;
  margin: 15px;
}
.contact-btn,.cord-btn,.submit-btn {
  padding: 10px 30px;
  border: 1.5px solid #ffffff;
  background: #004e89;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Source Sans 3', sans-serif;
  margin-top: 15px;
  transition: 0.5s ease;
}
.contact-btn,.cord-btn,.submit-btn:hover {
  background-color: #003b66;
  transform: translateY(-5px);
}
hr {
  margin: auto;
  width: 90%;
 
}
footer {
  margin-top: 50px;
  background: #0b1f33;
  border-top: 2px solid rgba(255, 255, 255, 0.06);
}
.footer-sect a {
  color: #ffffff;
}
.footer-sect a :hover{
  text-decoration: underline;
}
.bit-logo {
  width: 70px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
}
.socials {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 25px;
}
.footer-btm {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  color: #faf9f6;
}
.social-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px;
}
.contact-cords  {
  padding: 10px 100px;
}
.footer-sect h2 {
  font-size: 14px;
}
.footer-sect p {
  font-size: 12px;
  margin: 5px;
}

.coordinator {
  align-items: center;
  display: flex;
  gap: 20px;
}
.qa-card {
  width: 350px;
  font-size: 14px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  background-color: #faf9f6;
  color: #2b2b2b;
}
.qa-list {
  margin: 30px;
}
.answered {
  display: flex;
  justify-content: center;
 
}
.question {
  margin-bottom: 15px;
}
.contact-page {
  padding: 15px 70px;
  background-color: #f2f4f6;
}
.contact-page, h1 {
  color: #0f2a44;
}
.paq {
  margin-left: 40px;
}
.helper-text {
  margin: 5px 0;
  font-size: 14px;
  font-style: italic;
}
main {
  background: linear-gradient(
    to bottom,
    #f2f4f6 0%,
    #f7f9fb 50%,
    #ffffff 100%
  );
}
header {
  margin-bottom: 30px;
}
label {
  display: grid;
  margin-bottom: 15px;
  margin-top: 15px;
}
input {
  width: 300px;
  height: 35px;
  font-family: 'Source Sans 3', sans-serif;
}
textarea {
  width: 300px;
  height: 100px;
  font-family: 'Source Sans 3', sans-serif;
}
.about-main {
  display: flex;
   background-color: #faf9f6;
  color: #2b2b2b;
  gap: 30px;
}
.main-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-img {
  width: 500px;
}
.mv {
  display: flex;
  width: 100%;
  gap: 20px;
 justify-content: space-between;
 margin: auto;
 padding: 30px 100px;
}
.mis, .vis {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
   background-color: #faf9f6;
  color: #2b2b2b;
  padding: 15px 30px;
}
.misvis-header {
   padding: 20px;
  padding-left: 100px;
}
.vis {
  line-height: 1.5;
}
.sect-title {
  margin: auto;
  text-align: center;
}
.past-events, .ongoing-events {
  margin: 30px;
}
.program-page {
  background: linear-gradient(
    to bottom,
    #f2f4f6 0%,
    #ffffff 60%,
    #f9fafb 100%
  );
}
@media (max-width: 1024px) {
  .head {
    font-size: 35px;
  }
  .section1 {
    height: 400px;
  }
  .main-text {
    padding: 30px;
    align-items: center;
  }
  .section2 {
    height: 300px;
  }
  .img2 {
    width: 100%;
  }
  .team {
 padding: 0;
  }
  .section3 {
    padding: 15px;
  }
  .events-grid {
    flex-wrap: wrap;
  }
  .outreach {
    width: 100%;
  }
  
  .about-img {
    width: 450px;
  }
  .mis, .vis {
    width: 450px;
  }
  .mv {
    justify-content: center;
  }
}
@media (max-width: 650px) {
  body {
    width: 100%;
  }
  .section1 {
    padding-top: 25px;
  }
  .img1 {
    display: none;
  }
  .img {
    display: none;
  }
  .img::before {
    display: none;
  }
  .head {
    font-size: 38px;
    text-align: center;
    margin: 10px;
  }
  .main-text {
    width: 100%;
  padding: 14px;
  }
 .text {
  text-align: center;
 }
 .btn {
  display:flex ;
  align-items: center;
  justify-content: center;
 }
  .section2-txt {
  background-color: #faf9f6;
  color: #2b2b2b;
  width: 100%;
  padding: 0px 10px 20px 10px;
  
} 
.section2 {
  display: flex;
 background-color: #faf9f6;
  flex-direction: column;
  margin-bottom: 300px;
  gap: 0;
 
}
.mission, .wwa, .wwd {
 margin: 30px;
 padding: 5px 20px 15px 15px;
 border-radius: 10px;
}
.team {
  flex-wrap: wrap;
 padding: 30px;
 margin: 0 20px;
}
.team-card2, .team-card3 {
  display: none;
}
.img3 {
  display: none;
  width: 100%;
}
.section-title {
  font-size: 25px;
  margin: auto;
  text-align: center;
}
.event-hr{
  margin: auto;
}
.name, .role {
  text-align: center;
}
.events {
  margin-top: 25px;
}
.events-grid {
  margin: 20px 45px 20px 45px;
}
.menu {
  display: none;
}
.menu-btn {
  display: block;
}
.ask-convener {
  margin: 20px 30px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 30px 45px 40px 45px;
}
.ask-convener h2 {
  margin: 0 0 5px 0;
}
.see-more {
  display:block;
  margin-right: 0;
  margin-left: 65%;
}
.event-card2 {
  display: none;
}
.ask-convener p {
  margin-bottom: 5px;
}
.footer-top {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-btm {
  flex-direction: column;
  gap: 20px;
}
.footer-sect {
  text-align: center;
}
.social-item {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.social-item p{
  font-size: 15px;
}
.social-item a {
   font-size: 15px;
}
.socials {
  display: flex;
}
#menu {
  flex-direction: column;
  position: absolute;
  top:  8%;
  z-index: 1000;
  background:#ffffff;
  padding: 30px;
  right: 0;
  left: 50%;
 transform: translateY(-20px);
 opacity: 0;
 pointer-events: none;
 transition: transform 0.3s ease, opacity 0.3s ease;
}
#menu.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#burger {
  transition: 
    opacity 0.15s ease,
    transform 0.25s ease;
}

.about-main {
  flex-direction: column;
  width: 100%;
  height: 670px;
}
.about-img {
  width: 100%;
}
.wwd, .wwa {
  padding: 30px;
}
.text1 {
  line-height: 1.4;
}
.wwa p {
  line-height: 1.5;
}
.mv {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.mis, .vis {
 margin-right: 35px;
 margin-left: 30px;
  flex-wrap: wrap;
  width: 93%;
  padding: 30px;
}
.section3 {
  margin-top: 30px;
}
nav {
  padding: 10px 25px;
}
.contact-page {
  padding: 20px 30px;
}
.answered {
  flex-direction: column;
}
.paq {
  font-size: 20px;
}
.qa-card {
  width: 90%;
}
.qa-list {
  margin: 5px;
}
.contact-cords {
  padding: 20px 30px;
}
.coordinator {
  flex-direction: column;
}
.team-card {
  justify-content: center;
}
.cord-btn {
  margin-left: 70px;
}
.past-events, .ongoing-events {
  margin: 0;
}
}
